/* Write your CSS here! */

#mainHeading {
    text-align: center;
    color: red;
    font-size: 40px;
}

.funParagraph {
    color: green;
    font-size: 20px;
}

body {
    background-color: #272727;
    margin: 8px;
    display: block;
}

h3 {
    color: white;
    text-align: center;
    font-size: 25px;
}

p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: center;
    
}

img {
    padding: 45px;
    border-radius: 5pc;
    width: 550px;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}